@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sunrise {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes cloud {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(100px);
    }
}

@keyframes cloud-2 {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-100px);
    }
}

@keyframes wind {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bird {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes leaf {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}

@keyframes moon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes twinkle-2 {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.animate-sunrise {
    animation: sunrise 5s ease-in-out;
}

.animate-cloud {
    animation: cloud 10s infinite linear;
}

.animate-cloud-2 {
    animation: cloud-2 12s infinite linear;
}

.animate-wind {
    animation: wind 5s infinite linear;
}

.animate-bird {
    animation: bird 2s infinite ease-in-out;
}

.animate-leaf {
    animation: leaf 5s infinite linear;
}

.animate-moon {
    animation: moon 5s infinite ease-in-out;
}

.animate-twinkle {
    animation: twinkle 2s infinite ease-in-out;
}

.animate-twinkle-2 {
    animation: twinkle-2 3s infinite ease-in-out;
}